name: "PrePublish Check And Test"

on:
  workflow_call:

jobs:
  check_and_test:
    name: check and test on node ${{ matrix.node_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node_version: ['12', '14', '16']
        os: [ubuntu-latest, macOS-latest]
    steps:
      # 1. Checkout github ref
      - uses: actions/checkout@v3

      # 2. Cache node modules
      - name: cache node modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          # npm cache files are stored in `~/.npm` on Linux/macOS
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      # 3. RUN install
      - name: npm install
        run: |
          npm ci && npm i -g eslint

      # 4. RUN eslint
      - name: run eslint
        run: npm run lint

      # 5. RUN jest
      - name: run jest
        run: npm run test
