name: "Publish Release Tag"

on:
  workflow_call:
    secrets:
        GITHUB_CI_TOKEN:
          required: true

jobs:
  publish_release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['16']
    steps:
      - uses: actions/checkout@v2

      # 1. Set out version
      - name: read_version_set_out
        uses: nyaa8/package-version@v1

      # 2. RUN create release and tag
      - name: create_release_and_tag
        id: create_release
        uses: actions/create-release@v1
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_CI_TOKEN }}
        with:
          tag_name: ${{ env.PACKAGE_VERSION }}
          release_name: Release ${{ env.PACKAGE_VERSION }}
          draft: false
          prerelease: false
