name: "Publish Release"

on:
  workflow_call:
    secrets:
        GITHUB_CI_TOKEN:
          required: true

jobs:
  publish_release:
    runs-on: ubuntu-latest
    steps:
      # 1. Checkout github ref
      - uses: actions/checkout@v3
        with:
          fetch-depth: 100

      # 2. Set out version --> `env.PACKAGE_VERSION`
      - name: read_version_set_out
        uses: nyaa8/package-version@v1

      # 3. Auto create release
      - name: create release
        shell: pwsh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_CI_TOKEN }}
        run: |
          gh release create --generate-notes ${{ env.PACKAGE_VERSION }}
