name: "Publish Release And Package"

on:
  workflow_call:
    secrets:
        NPM_CI_TOKEN:
          required: true
        GITHUB_CI_TOKEN:
          required: true

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'
      - name: Install dependencies
        run: npm i && npm run build
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_CI_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_CI_TOKEN }}
        run: npx semantic-release